.billcontainer{
    display: flex; 
    justify-content: center;
}
.billcontainer_span{
    font-size: 24px; 
    text-align: center;
     width: 15px !important;
}
   .currency{
        padding-right: 8px;
        font-weight: 500;
        font-size: 15px;
        cursor: pointer;
    }
    .colchild{
        padding-top: 35px; padding-left: 15px;
    }
    .childheading{
        font-size: 22px;
        font-weight: 700;
        
    }
    .childcontent{
        font-weight: 600;
        padding-right: 30px;
    }
    .childcontentlast{
        font-weight: 600;
        
    }
    .childprice{
        padding-right: 30px; 
    }
    .span:hover{
        background-color:rgba(85,139,201,255); 
        color: white !important;
        cursor: pointer;
    }
    .spanlast:hover{
        background-color: rgba(245,135,50,255);
        color: white !important;
        cursor: pointer;
    }
    .no_of_sing{
        text-align: center;
        font-weight: 600;
        padding: 10px;
        color: rgb(73, 73, 73);
        font-size: 15px;
    }
.col-md-12{
    color: rgb(50, 50, 50);
}

.section{
    background-color:rgba(250,250,250,255); 
    padding: 10px; font-size: 20px; 
    font-weight: 700;
}

.bi-check{
    font-size: 35px !important;
    
}
.bi-x-lg{
    font-size: 20px !important;
    font-weight: 800 !important;
}
.bi-cup-straw{
    font-size: 30px !important;
    color: orangered; 
}

.cost_section{
    background-color: rgb(231, 243, 253);
}


@media screen and (min-width: 1200px) and (max-width: 1400px){
    .responsive{
        padding-top: 24px;
    }
}
@media screen and (min-width: 990px) and (max-width: 1200px){
    .span{
        font-size: 12px;
    }
    .spanlast{
        font-size: 12px;
    }
}



    @media screen and (max-width: 770px){
        .no_of_sing{
            font-size: 8px;
        }
    }

